#main {
    padding: 30px;
}

#main .logout {
    position: absolute;
    top: 20px;
    right: 35px;
    width: inherit;
    height: inherit;
}

#main .head {
    color: darkmagenta;
    font: italic 30px/1px fantasy;
}

#main .outText {
    color: black;
    font: 12px/1px sans-serif;
}

#main .inText {
    border: aquamarine outset 2px;
    background: aliceblue;
}

#main .button {
    margin-bottom: 10px;
}

#main .link {
    color: grey;
}

#main .resultRegistration {
    color: blue;
    font: italic 30px/1px fantasy;
}